{% extends 'base.html' %}

{% block content %}
  {% if validlink %}
      <form class="form-group align-center m-3" method="post">
         <h3>Change password</h3>
         {% csrf_token %}
         {{ form.as_p }}
         <button type="submit" class="btn btn-full">Change password</button>
      </form>
  {% else %}
    <p class="m-auto h2 text-center font-weight-bold">
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}
