{% autoescape off %}

    Hello {{ info.username }},

    Booking Details by The Dreamy Destination.

        Name= {{ info.name }}
        Phone No = {{ info.phone2 }}
        Date= {{ info.date }}
        Destination= {{ info.destination }}
        From Place = {{ info.From_place }}
        Total Members = {{ info.Members }}
        Days = {{ info.Days }}
        Nights = {{ info.Nights }}

     Thanks for booking our team member will Contact you Soon...

    From the Team,
    The Dreamy Destinations.


{% endautoescape %}