{% autoescape off %}

    Hello Co-Founder,

    Booking Details by The Dreamy Destination.

        Name= {{ info.name }}
        Last Name= {{ info.last_name }}
        Phone No1 = {{ info.phone1 }}
        Phone No2 = {{ info.phone2 }}
        Email = {{ info.email }}
        Dastination ID = {{ info.DestID }}
        Date= {{ info.date }}
        Destination= {{ info.destination }}
        From Place = {{ info.From_place }}
        Total Members = {{ info.Members }}
        Days Booked= {{ info.Days }}
        Days in Trip = {{ dest.days }}
        Nights Booked= {{ info.Nights }}
        Nights in Trip = {{ dest.nights }}
        Charge Per Member = {{ dest.price }} Rs.

    From the Team,
    The Dreamy Destinations.


{% endautoescape %}